.header{
    max-width: 1280px;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.header .container {
    display: flex;
    justify-content: space-between;
    padding: 48px 62px 0;
}

.header .title {
    font-weight: 700;
    font-size: 24px;
}

.header .nav{
    display: flex;
}

.header .nav span {
    align-self: center;
    margin-left: 60px;
    font-weight: 300;
    font-size: 16px;
}

.header .nav span:hover{
    color: #00E697;
}

.header .active{
    color: #00E697;
}

.header .hidden{
    display: none;
}



