.login-form {
    max-width: 567px;
    margin: 0 auto;
    padding-top: 186px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.login-form label,
.login-form input {
    width: 100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 170%;
}

.login-form input {
    margin: 12px 0 20px;
    padding: 16px 28px;
    gap: 10px;
    background: rgba(213, 216, 220, 0.1);
    border: 2px solid #5A5E6A;
    border-radius: 8px;
    backdrop-filter: blur(32px);
}

.login-form input:last-child {
    width: 176px;
    margin-top: 38px;
    background: #00E697;
    border: none;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: 0.1s;
}

.login-form input:last-child:hover{
    transform: scale(1.1);
}